body{
  background:white;
  font-family:Roboto, sans-serif;
}
.weather-container{
  background-color:#9acd32;
  max-width: 600px;
  height: 500px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
}
.search-form-input{
  background-color:#ffd700; 
  border: none;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  color: black;
  border-radius: 6px;
  margin-top: 30px;

}
.search-form-button{
  background-color: #63b8ff;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
    color: white;
}
header{
  border-bottom: 1px solid #daf0ff;
  padding: 0 0 30px 0;
}
a{
  color: #2a9df4;
}
.weather-app-temperature-container{
  display: flex;
}

.weather-data{
display: flex;
justify-content: space-between;
}
.weather-city{
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  padding-top: 30px;
}
.weather-details{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.weather-details strong{
  color: #f65282;
}
.weather-icon{
  font-size: 36px;
  margin-top: 20px;
   
}
.weather-temperature{
  font-size: 78px;
  font-weight: bold;
  padding-top:20px;
}
.weather-unit{
  margin-top: 36px;
  font-size: 28px;
}
.weather-forecast{
 margin-top: 20px;
 text-align: center;
 color: black; 
}
.weather-forecast-date{
  font-size: 18px;
  opacity: 0.5;
}
.weather-forecast-temperature-min{
  opacity: 0.5;
}
.weather-forecast-temperature{
  font-size: 16px;
}
footer{
border-bottom: 1px solid #daf0ff;
padding-top: 100px;
text-align: center;
font-size: 14px;  

}


